<div class="presentation-page-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="background">
        <mat-card id="main-card">
            <div class="steps-container">
                <div class="step-title-box">
                    <h2><u>Étape 1: Téléverser le moodle.zip</u></h2>
                </div>
                <div class="input-container">
                    <input #fileInput hidden="true" type="file" onclick="this.value=null"
                        (change)="CopiesFileEvent($event)" accept=".zip" />
                    <button id="copies-input-button" mat-flat-button color="primary" (click)="fileInput.click()" [disabled]="this.disabled">Choisir
                        fichier</button>
                    <div class="label-box">
                        <label for="copies-input-button">{{this.copiesName}}</label>
                    </div>
                </div>
            </div>
            <div class="steps-container">
                <div class="step-title-box">
                    <h2><u>Étape 2: Téléverser la page de présentation en format LaTeX</u></h2>
                </div>
                <div class="input-container">
                    <input #latexFrontPageInput hidden="true" type="file" onclick="this.value=null"
                        (change)="latexFrontPageEvent($event)" accept=".tex" />
                    <button id="latexFrontPageInput-button" mat-flat-button color="primary"
                        (click)="latexFrontPageInput.click()" [disabled]="this.disabled">Choisir fichier</button>
                    <div class="label-box">
                        <label for="latexFrontPageInput-button">{{this.latexFrontPageName}}</label>
                    </div>
                </div>
            </div>
            <div class="steps-container">
                <div class="step-title-box">
                    <h2><u>Étape 3: Assigner le suffixe voulu</u></h2>
                </div>
                <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
                    <mat-label>Suffixe</mat-label>
                    <input matInput [(ngModel)]="this.suffix" (keypress)="updateSuffix($event)">
                </mat-form-field>
            </div>
            <div class="buttons-container">
                <button mat-stroked-button (click)="cancel()" [disabled]="this.disabled">Annuler</button>
                <button mat-flat-button color="accent" (click)="createPresentation()"
                    [disabled]="this.disabled">Commencer</button>
            </div>
        </mat-card>
    </div>
</div>
<button mat-button (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
<div id="overlay" *ngIf="this.disabled"></div>
<mat-spinner *ngIf="this.disabled" color="accent" [diameter]="150"></mat-spinner>