<div class="dialog-container">
    <div class="warning-logo-container">
        <mat-icon>warning</mat-icon>
    </div>
    <div class="warning-text-container">
        <p>Vous avez des copies qui n'ont pas encore été validées, soit ceux encore en rouge. Êtes-vous sûr de vouloir finaliser la vérification manuelle?</p>
    </div>
    <div class="warning-buttons-container">
        <button class="cancel-button" mat-flat-button (click)="cancel()">NON</button>
        <button class="confirm-button" mat-flat-button (click)="confirm()">OUI</button>
    </div>
</div>
