.new-correction-container {
    width: 100%;
    height: 100%;
    background-image: url("~src/assets/background-gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.stepper_horizontal {
    width: 70%;
    /*height: 50%;*/
    margin: auto;
    margin-top: 5%;
    
}

.back-button {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    transition: 3s;
}

.back-button:hover {
    background: linear-gradient(to right, rgba(170, 169, 169, 0.326), rgba(255,0,0,0));
    transition: 3s;
}

.header {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;
    align-items: center;            

    width: 100%;
    height: 10%;
}

.logo {
    width: 4%;
    height: 90%;
    margin-top: 0.25%;
    margin-left: 0.25%;
    float:left;
    background-image: url("~src/assets/LOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
}

hr.header-line {
    border: 5px solid darkslategray;
    width: 96%;
    height: 0%;
}


.background {
    width: 100%;
    height: 90%;
    justify-content: center;
}

#main-card {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 40px;
    width : 40%;
    height : 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 30%);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.step-title-box {
    width: 100%;
    text-align: center;
}

.step-title-box > h2 {
    margin-bottom: 1%;
}

#files-upload-label {
    height: 15%;
    /*width: 100%;*/
    margin: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    color: rgb(18, 21, 52);

    border-left: 5px solid rgb(0, 72, 254);
    background-color: rgba(59, 217, 241, 0.746);

    margin-top: 2%;
}

#csv-upload-label {
    height: 15%;
    /*width: 50%;*/
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    color: rgb(31, 177, 68);

    border-left: 5px solid rgb(0, 72, 254);
    background-color: rgba(193, 241, 249, 0.746);

    margin-top: 3%;
}

#files-dropbox-input {
    width: 25%;
    height: 100%;

    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
}

#csv-dropbox-input {
    width: 25%;
    height: 100%;

    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.dropbox-logo {
    width: 10%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#dropbox-title {
    width: 80%;
    height: 100%;
    display: flex;                                    
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#files-dropbox-input:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

#csv-dropbox-input:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

#dropbox-label {
    width: 50%;
    text-align: left;
    text-overflow: ellipsis;
}

#files-onedrive-input {
    width: 25%;
    height: 100%;

    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
}

#csv-onedrive-input {
    width: 25%;
    height: 100%;

    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
}

#onedrive-logo {
    width: 20%;
    height: 100%;
    background-image:url("~src/assets/onedrive_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#onedrive-title {
    width: 80%;
    height: 100%;
    display: flex;                                    
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#files-onedrive-input:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

#csv-onedrive-input:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}


.files-steps-container {
    height: 35%;
    width: 100%;
    display: flex;                  
    flex-direction: column;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}

.files-steps-csv-container {
    height: 25%;
    width: 100%;
    display: flex;                  
    flex-direction: column;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    text-align: center;
    border: 1px inset rgb(157, 156, 157);
}

.breaker{
    width: 100%;
    border-top: 4px dotted rgb(93, 93, 93);
}
.files-steps-options-container {
    height: 25%;
    width: 100%;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    margin-top: 2.5%;
}

.steps-container {
    height: 20%;
    width: 100%;
    display: flex;                  
    flex-direction: column;            
    justify-content: center; 
    align-items: center;
    margin-top: 2.5%;
}


.input-container {
    height: 25%;
    width: 100%;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    align-items: center;
}

.buttons-container {
    height: 10%;
    width: 100%;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    align-items: center;
}

.pages-number-div{
    height: 40%;
    width: 100%;
}

.number-pages-container {
    height: 100%;
    width: 100%;
    display: flex;                  
    flex-direction: column;            
    flex-wrap: nowrap;              
    justify-content: center; 
    align-items: center;
    margin-top: 2.5%;

    border-top: 4px dotted rgb(93, 93, 93);
}

.number-pages-container > h3 {
    margin-bottom: 1%;
}

input[type=number] {
    width: 20%;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-bottom: 1%;
}

#csv-input-button{
    background-color: rgb(0, 155, 83);
    color: rgb(255, 255, 255);
}

#csv-input-button:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}

#copies-input-button:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}

mat-form-field {
    width: 60%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #f0f0f0;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

mat-spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
}

.files-uploading-steps {
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;

    color: #ffffff;
    font-size: 18px;
}


.next-button {
    margin-top:2.5%;
    /*display: inline-block;*/
    /*background-color: rgba(235, 235, 235, 0.812);*/
}
