<div class="container">
    <h2>Modification du mot de passe</h2>

    <div class="input">
        <mat-form-field appearance="outline">
            <mat-label>Entrez votre mot de passe courant</mat-label>
            <input matInput [(ngModel)]="this.currentPass" [type]="hideCurrentPass ? 'password' : 'text'" minlength="1" (keypress)="updateCharacters($event)">
            <mat-icon matSuffix (click)="hideCurrentPass = !hideCurrentPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPass">{{hideCurrentPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>
    <div class="input">
        <mat-form-field appearance="outline">
            <mat-label>Entrez votre nouveau mot de passe</mat-label>
            <input [(ngModel)]="this.newPass" minlength="1" maxlength="32" matInput [type]="hideNewPass ? 'password' : 'text'" (keypress)="updateCharacters($event)">
            <mat-icon matSuffix (click)="hideNewPass = !hideNewPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass">{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>
    <div class="input">
        <mat-form-field appearance="outline">
            <mat-label>Répétez votre nouveau mot de passe</mat-label>
            <input [(ngModel)]="this.newPassRepeat" minlength="1" maxlength="32" matInput [type]="hideNewPass2 ? 'password' : 'text'" (keypress)="updateCharacters($event)"/>
            <mat-icon matSuffix (click)="hideNewPass2 = !hideNewPass2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass2">{{hideNewPass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>
    <button class="button" mat-flat-button (click)="attemptSave()">APPLIQUER</button>
</div>
