<div class="new-correction-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    
    <div class="background">
        <mat-horizontal-stepper #stepper class="stepper_horizontal">
            <mat-step [stepControl]="firstFormGroup" label="Téléverser les copies à corriger">
                <div class="breaker">
                </div>
              <form [formGroup]="firstFormGroup">
                <div class="files-steps-options-container">
                    <input #fileInput hidden="true" type="file" onclick="this.value=null"
                        (change)="CopiesFileEvent($event)" accept=".zip,.pdf" />
                    <button id="copies-input-button" mat-flat-button color="primary" (click)="fileInput.click()"
                        [disabled]="this.uploading">Téléverser localement</button>

                    <button id="files-dropbox-input" (click)="getDropBoxUpload()" [disabled]="this.uploading">
                        <img class="dropbox-logo" src="..\..\assets\dropbox_icon.png" />
                        <div id="dropbox-title">Téléverser par DropBox</div>
                    </button>

                    <button id="files-onedrive-input"  type="button" (click)="getOneDriveUpload()"
                        [disabled]="this.uploading">
                        <img class="dropbox-logo" src="..\..\assets\onedrive_icon.png" />
                        <div id="onedrive-title">Téléverser par OneDrive</div>
                    </button>
                </div>
                
                <span id="files-upload-label"></span>

                <div class="pages-number-div">
                    <div class="number-pages-container" id="number-page-container" style="display: none">
                        <h3><u>Entrer le nombre de pages par copies (page de couverture incluse):</u></h3>
                        <input [(ngModel)]="this.numberPages" [ngModelOptions]="{standalone: true}" type="number" step=1 [disabled]="this.uploading" required>
                    </div>
                </div>
                
                <div class="next-button">
                    <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="secondFormGroup" label="Téléverser le fichier csv de matricules">
                <div class="breaker">
                </div>
              <form [formGroup]="secondFormGroup">
                
                    <div class="files-steps-options-container">
                        <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="CsvFileEvent($event)"
                            accept=".csv" />
                        <button id="csv-input-button" mat-flat-button background-color="green" (click)="csvInput.click()"
                            [disabled]="this.uploading">Téléverser localement</button>
    
                        <button id="csv-dropbox-input" (click)="getDropBoxUploadCSV()" [disabled]="this.uploading">
                        
                            <img class="dropbox-logo" src="..\..\assets\dropbox_icon.png" />
                            <div id="dropbox-title">Téléverser par DropBox</div>
                        </button>
    
                        <button id="csv-onedrive-input" type="button" (click)="getOneDriveUploadCSV()"
                            [disabled]="this.uploading">
                            <img class="dropbox-logo" src="..\..\assets\onedrive_icon.png" />
                            <div id="onedrive-title">Téléverser par OneDrive</div>
                        </button>
                    </div>
                    <span id="csv-upload-label"></span>
                    <br>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
              </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->
            
            <mat-step [stepControl]="thirdFormGroup" label="Assigner le gabarit voulu">
                <div class="breaker">
                </div>
                <form [formGroup]="thirdFormGroup">
                    <div class="steps-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Choisir gabarit</mat-label>
                            <mat-select [(value)]="selectedTemplate" [disabled]="this.uploading">
                                <mat-option *ngFor="let template of templates" [value]="template.template_id">
                                    {{template.template_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->
            
            <mat-step [stepControl]="fourthFormGroup" label="Entrer un nom pour la tâche">
                <div class="breaker">
                </div>
                <form [formGroup]="fourthFormGroup">
                    <div class="steps-container">
                        <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
                            <mat-label>Nom de la tâche</mat-label>
                            <input [(ngModel)]="this.taskName" [ngModelOptions]="{standalone: true}" matInput >
                        </mat-form-field>
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-flat-button color="accent" (click)="createTask()" [disabled]="this.uploading" *ngIf="!this.disabled">Commencer</button>
                        <button mat-flat-button color="accent" (click)="createTask()" *ngIf="this.disabled" disabled>Commencer</button>
                    </div>
                </form>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>
<button mat-button (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
<div id="overlay" *ngIf="this.uploading"></div>
<mat-spinner *ngIf="this.uploading" color="accent" [diameter]="150" mode="determinate" [value]="this.tasksService.getpercentageDone()"></mat-spinner> 
<div id="overlay" *ngIf="this.uploading"></div>
<div class="files-uploading-steps" *ngIf="this.uploading">Téléversement des fichiers au serveur...</div>