<div class="template-editor-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="background">
        <div class="template-container">
            <canvas id="cv"></canvas>
            <svg id="svg" width="100%" height="100%" 
                (mousedown)="mouseDown($event)" 
                (mouseup)="mouseUp($event)" 
                (mousemove)="mouseMove($event)" 
                (mouseleave)="mouseLeave($event)">
            </svg> 
        </div>
        <div class="tools-container">
            <div class="template-name-div">
                <h3><u>Nom du gabarit:</u></h3>
                <input type="text" id="template_name" [(ngModel)]="this.templateName">
            </div>
            <div class="tools-options-container">
                <mat-button-toggle-group class="tools-toggle-group" [(ngModel)]="toolType" aria-label="Font Style">
                    <mat-button-toggle value="rectangle" (change)="onToolChange($event.value)">
                        <mat-icon>crop_square</mat-icon>
                        Rectangles
                    </mat-button-toggle>
                    <mat-button-toggle value="selection" (change)="onToolChange($event.value)">
                        <mat-icon>select_all</mat-icon>
                        Selection
                    </mat-button-toggle>
                    <mat-button-toggle value="delete" (change)="onToolChange($event.value)">
                        <mat-icon>clear</mat-icon>
                        Supression
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="rectangle-options-container" *ngIf="toolType == 'rectangle'">
                <button [ngClass]="this.identificationActive ? 'identification-button active' : 'identification-button'" (click)="setIdentificationRect()">Identification</button>
                <button [ngClass]="this.questionsActive ? 'questions-button active' : 'questions-button'" (click)="setQuestionsRect()">Questions</button>
            </div>
            <div class="selection-options-container" *ngIf="toolType != 'rectangle'">
            </div>
            <div class="confirmation-container">
                <button class="confirmation-button" (click)="confirm()">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<button mat-button (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
