<div class="templates-page-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="background">
        <div class="templates-container">
            <div class="templates-search-create"> 
                <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
                    <mat-label>Filtrer</mat-label>
                    <input matInput [(ngModel)]="this.filterSearch" (keyup)="updateAvailableTemplates($event)">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button class="create-new-button" (click)="openNewTemplateDialog()"> Créer un nouveau gabarit </button>
            </div> 
            <div class="templates-header">
                <div class="templates-header-title"> 
                    Titre
                </div> 
                <div class="templates-header-actions">
                    Actions  
                </div>  
            </div> 
            <div class="templates-list">
                <div class="template-container" *ngFor="let template of this.templatesList">
                    <div class="template-title"> 
                        {{template.template_name}}
                    </div> 
                    <div class="template-actions">
                        <mat-icon class="edit-icon" (click)="editTemplate(template)">edit</mat-icon> 
                        <mat-icon class="delete-icon" style="margin-left: 5%" (click)="openDeleteDialog(template)">delete</mat-icon> 
                    </div>  
                </div>   
            </div>  
        </div> 
    </div>
</div>
<button mat-button (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>