.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 

    width: 100%;
    height: 10%;
    background: -webkit-linear-gradient(right,#2e59e9, #21d4fd);
    border-bottom: 2px solid gray;
}

.logo {
    width: 5%;
    height: 90%;
    margin-top: 0.25%;
    margin-left: 0.25%;
    float:left;
    background-image: url("~src/assets/LOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.disconnect-button {
    position: relative;
    text-align: center;
    width: 5%;
    height: 90%;
    margin-top: 0.25%;
    margin-right: 0.5%;
    float:right;
}

.disconnect-button > mat-icon {
    height: 60px;
    width: 60px;
    font-size: 60px;
    margin-top: 10%;
    color: #ffffff;
}
.disconnect-button > mat-icon:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.background {
    width: 100%;
    height: 90%;
    background-image: url("~src/assets/background-gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    width: 93%;
    height: 60%;

    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    align-items: center;
}

.buttons-container > div {
    background-color: white;
    width: 15%;
    height: 59%;

    border-radius: 6%;
    border: 2px solid gray;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.buttons-container > div > .badge {
    position: absolute;
    top: +17%;
    right: +66%;
    padding: 10px 15px;
    border-radius: 100%;
    background-color: red;
    color: white;
}


.buttons-container > div:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
    color: #21d4fd;
}

.buttons-container > div:hover > mat-icon {
    color: #21d4fd;
}

.buttons-container > div:hover > .badge {
    top: -14%;
    right: -7%;
}

.buttons-container > div > mat-icon {
    color: black;
    height: 200px;
    width: 200px;
    font-size: 200px;
    vertical-align: middle;
    
}

.buttons-container > div > span {
    margin-top: 10%;
    font-size: 20px;
    
}