.dialog-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.get-document-button {
    height: 25%;
    width: 50%;
    border: none;
    border-radius: 3%/12%; 
    background-color: #007cbb;
    color: #ffffff;
    font-size: 15px;
}

.get-document-button:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.label-box {
    height: 10%;
    width: 50%;
    text-overflow: ellipsis;

    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.confirm-document-button {
    height: 15%;
    width: 20%;
    border: none;
    border-radius: 3%/12%; 
    background-color: #00bb64;
    color: #ffffff;
    font-size: 15px;
}

.confirm-document-button:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}