<div class="new-correction-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>

    <div class="background">
        <mat-horizontal-stepper #stepper class="stepper_horizontal">
            <mat-step [stepControl]="firstFormGroup" label="Page de connexion">
                <div class="breaker">
                </div>
                <div [formGroup]="firstFormGroup">
                    <ul>
                        <li>La fenêtre de connexion présente 2 champs d’entrées
                            pour se connecter sur la plateforme: l'adresse courriel
                            et le mot de passe associé. Les comptes administrateurs
                            ont été distribués par courriel aux utilisateurs.</li>
                        <li>La gestion d’erreur est faite dans la page de connexion
                            par l’affichage d’une notification dans le coin en haut
                            à droite.</li>
                    </ul>

                    <div class="images">
                        <img class="img1" src="..\..\assets\login1.PNG" />
                        <img class="img1" src="..\..\assets\login2.PNG" />

                    </div>

                    <div class="next-button">
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </div>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="secondFormGroup" label="Menu principal">
                <div class="breaker">
                </div>
                <form [formGroup]="secondFormGroup">
                    <ul>
                        <li>Le menu principal présente 6 boutons qui redirigent
                            vers les différentes fonctionnalités de l’application web:
                            créer une nouvelle correction, afficher l’historique des tâches,
                            configurer un gabarit, ajouter une page de présentation, visualiser
                            le profil utilisateur, et visualiser le guide utilisateur.</li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\menu1.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="thirdFormGroup" label="Nouvelle correction">
                <div class="breaker">
                </div>
                <form [formGroup]="thirdFormGroup">
                    <ul>
                        <li>La création d’une nouvelle tâche de correction se fait en 4 étapes:
                            téléverser les copies à corriger, téléverser le fichier csv de notes,
                            sélectionner un gabarit, et donner un nom pour la tâche de correction.</li>
                        <li>Ces fichiers peuvent être téléversés à partir de différentes plateformes:
                            le système local, DropBox, ou OneDrive.
                        </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\correction.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="fourthFormGroup" label="Tâches">
                <div class="breaker">
                </div>
                <form [formGroup]="fourthFormGroup">
                    <ul>
                        <li>La fenêtre de l’historique des tâches présentes diverses informations pour les tâches en
                            cours ainsi que les tâches archivées: le nom de la tâche, le gabarit utilisé pour la
                            correction,
                            la date d’ajout, le statut de la tâche, la progression de la correction, et l’estimation.
                        </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\taches.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="fifthFormGroup" label="Validation d’une tâche">
                <div class="breaker">
                </div>
                <form [formGroup]="fifthFormGroup">
                    <ul>
                        <li>La fenêtre de validation d’une tâche est accessible lorsque l’exécution
                            d’une tâche à un statut « En traitement » ou bien « Prêt à la vérification ».
                            Cette fonctionnalité permet de faire des dernières corrections suite au
                            traitement du module. Pour accéder à cette page, l’utilisateur doit appuyer
                            sur la tâche à partir de l’historique des tâches.
                        </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\validation.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->
            à

            <mat-step [stepControl]="sixthFormGroup" label="Création d'un gabarit">
                <div class="breaker">
                </div>
                <form [formGroup]="sixthFormGroup">
                    <ul>
                        <li>La fenêtre de configuration du gabarit présente les différents gabarits existants, une barre de
                            recherche pour filtrer la liste de gabarits, et un bouton pour créer un nouveau gabarit. Pour
                            chaque gabarit, il est possible de modifier sa configuration, ainsi que de le supprimer.
                            </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\template0.png" />
                    </div>
                
                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="seventhFormGroup" label="Édition d’un gabarit">
                <div class="breaker">
                </div>
                <form [formGroup]="seventhFormGroup">
                    <ul>
                        <li>La fenêtre d’édition d’un gabarit permet de définir les 
                            zones d’identification de la matricule de la copie, ainsi 
                            que de définir la zone des notes à reconnaître par le module.
                        </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\template.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <!--
                
                *********************************************************

            -->

            <mat-step [stepControl]="eightFormGroup" label="Page de présentation">
                <div class="breaker">
                </div>
                <form [formGroup]="eightFormGroup">
                    <ul>
                        <li>L’ajout d’une page de présentation exige 3 entrées par l’utilisateur. L’étape 1 consiste à
                            téléverser les copies sous un fichier compressé (.zip). L’étape 2 consiste à téléverser la
                            page de présentation à ajouter à chaque copie en format LaTeX (.tex). L’étape 3 consiste à
                            assigner un suffixe voulu pour les copies de sorties.
                        </li>
                    </ul>

                    <div class="images2">
                        <img class="img2" src="..\..\assets\presentation.png" />
                    </div>

                    <div class="next-button">
                        <button mat-button matStepperPrevious>Retour</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
<button mat-button (click)="reroute()" class="back-button">
    <mat-icon>arrow_back_ios</mat-icon>
</button>