<div class="user-profile-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="background">
        <!-- <img src="assets/account.png" alt="Avatar" id="logo" width="150" height="140"/> -->
        <mat-card>
    
            <mat-card-title>
                PROFIL D'UTILISATEUR
            </mat-card-title>
            
            <mat-card-content>
                <div class="info-container">
                    <div class="text-box-definition"> Nom d'utilisateur:</div>
                    <div class="text-box" >{{this.userService.currentUsername}}</div>
                </div>

                <div class="bar">
                    <hr>
                </div>

                <div class="info-container">
                    <div class="text-box-definition"> Mot de passe:</div>
                    <div class="text-box">*********</div>
                </div>

                <div class="bar">
                    <hr>
                </div>

                <div class="info-container">
                    <div class="text-box-definition"> Type de compte:</div>
                    <div class="text-box">{{this.userService.role}}</div>
                </div>

                <div class="bar">
                    <hr>
                </div>

                <div class="info-container">
                    <div class="text-box-definition">Sauvegarder image des chiffres:</div>
                    <div class="text-box-check">
                        <section>
                            <mat-checkbox class="check-box" [checked]="this.userService.saveVerifiedImages" (change)="updateSaveVerifiedImagesValue($event.checked)"></mat-checkbox>
                        </section>
                    </div>
                </div>

                <div class="bar">
                    <hr>
                </div>

                <div class="info-container">
                    <div class="text-box-definition">Sauvegarder avec la structure moodle:</div>
                    <div class="text-box-check">
                        <section>
                            <mat-checkbox class="check-box" [checked]="this.userService.moodleStructureInd" (change)="updateSaveInMoodleStructure($event.checked)"></mat-checkbox>
                        </section>
                    </div>
                </div>

                <div class="bar">
                    <hr>
                </div>


                <div class="buttons-container">
                    <button class="change-password" mat-raised-button color="primary" (click)="openChangePasswordDialog()">Changer le mot de passe</button>
                    <button mat-raised-button color="accent" *ngIf="this.userService.role == 'Administrateur'" (click)="openCreateUserDialog()">Créer un compte</button>
                </div>
        
            </mat-card-content>
        </mat-card>

        
    </div>
</div>
<button mat-button (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
