<div class="dialog-container">
    <div class="header-container">
        <h1>Téléchargement des fichiers</h1>
    </div>
    <div class="global-container">
        <div class="file-container" *ngFor="let n of numSequence(data.nbZipFile);let i = index;">
            <div class="file-logo zip-logo">
            </div>
            <div class="file-input-div">
                <input type="text" [attr.id]="setZipIds(i)" [value]="setDefaultZipValues(i)">
            </div>
            <button mat-raised-button color="primary" (click)="checkInputBox('zip_file', i)">Télécharger</button>
        </div>
        <div class="file-container">
            <div class="file-logo csv-logo">
            </div>
            <div class="file-input-div">
                <input type="text" id="notes_csv_file" value="notes">
            </div>
            <button mat-raised-button color="primary" (click)="checkInputBox('notes_csv_file', 0)">Télécharger</button>
        </div>
    </div>
    <div class="cancel-container">
        <button mat-raised-button color="warn" (click)="cancel()">Sortir</button>
    </div>
</div>
<div id="overlay" *ngIf="this.downloading"></div>
<mat-spinner *ngIf="this.downloading" color="accent" [diameter]="150" mode="determinate" [value]="this.downloadProgress"></mat-spinner> 
<div id="overlay" *ngIf="this.downloading"></div>
<div class="files-uploading-steps" *ngIf="this.downloading">Téléchargement du fichier...</div>