<div class="menu-container">
    <div class="header">
        <div class="logo"></div>
        <div class="disconnect-button">
            <mat-icon (click)="disconnect()">exit_to_app</mat-icon>
        </div>
    </div>
    <div class="background">
        <div class="buttons-container">
            <div (click)="newCorrection()">
                <mat-icon>find_in_page</mat-icon>
                <span> Nouvelle correction </span>
            </div>
            <div (click)="goToTasksHistory()">
                <mat-icon> list_alt</mat-icon>
                <span> Tâches </span>
                <span class="badge" *ngIf="this.tasksService.getHasTasks()">{{this.tasksService.getamountTasks()}}</span>
            </div>
            <div (click)="goToTemplatesPage()">
                <mat-icon>assessment</mat-icon>
                <span> Configuration des gabarits </span>
            </div>
            <div (click)="goToPresentationPage()">
                <mat-icon> insert_drive_file</mat-icon>
                <span> Ajouter une page de présentation </span>
            </div>
            <div (click)="goToProfilePage()">
                <mat-icon>person</mat-icon>
                <span> Profil utilisateur </span>
            </div>  
            <div (click)="goToUserGuide()">
                <mat-icon>library_books</mat-icon>
                <span> Guide utilisateur </span>
            </div>   
        </div>
    </div>
</div>
