.dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.warning-logo-container {
    width: 100%;
    height: 40%;

    display: flex;                  
    align-items: center;
    justify-content: center;  
}

.warning-logo-container > mat-icon {
    transform: scale(4,4);
    color: rgb(255, 30, 0)
}

.delete-text-container {
    width: 100%;
    height: 30%;
}

p {
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 20px;
}

.delete-buttons-container {
    width: 100%;
    height: 30%;

    display: flex;     
    flex-direction: row;              
    align-items: center;
    justify-content: space-between; 
}


.confirm-button{
    border-radius: 10px;
    height: 50%;
    width: 20%;
    background-color: #ff0000;
    color:white;
    font-size: 100%;
    transition: 0.3s;


    box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -moz-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52 0.7);
    -webkit-box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -o-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
    -ms-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
}

.confirm-button:hover{
    background-color: #4e0701;
    transform: scale(1.05,1.05);
    transition: 0.3s;
}


.cancel-button{
    border-radius: 10px;
    height: 50%;
    width: 20%;
    background-color: #000000;
    color:white;
    font-size: 100%;
    transition: 0.3s;


    box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -moz-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52 0.7);
    -webkit-box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -o-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
    -ms-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
}

.cancel-button:hover{
    color: #000000;
    background-color: #ffffff;
    border: 2px solid black;
    transform: scale(1.05,1.05);
    transition: 0.3s;
}