<div class="page-count" *ngIf="!this.pictureLoading || !this.disabledValidationcontainer">
    {{this.currentCopy}} / {{this.subExamsList.length}}
</div>
<div class="task-verification-container">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="background">
        <div class="files-container">
            <div class="files-list-container">
                <div class="file-container" *ngFor="let exam of this.subExamsList"
                    (click)="changeCurrentCopy(exam.document_index, exam.status)">
                    <div class="disabled-copy" *ngIf="exam.status == 'NOT_READY'">
                        <strong>{{exam.document_index}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'validated-copy chosen-copy' : 'validated-copy'"
                        *ngIf="exam.status == 'VALIDATED'">
                        <strong>{{exam.document_index}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'to-validate-copy chosen-copy' : 'to-validate-copy'"
                        *ngIf="exam.status == 'TO VALIDATE'">
                        <strong>{{exam.document_index}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'high-precision-copy chosen-copy' : 'high-precision-copy'"
                        *ngIf="exam.status == 'HIGH ACCURACY'">
                        <strong>{{exam.document_index}}</strong>
                    </div>
                </div>
            </div>
            <div class="validate-job-container">
                <button class="validate-job-button" mat-flat-button (click)="validateJob()"
                [disabled]="this.disabledValidationButton">FINALISER</button>
            </div>
        </div>
        <div class="validation-container">
            <p *ngIf="this.disabledValidationcontainer">Aucune copie n'est prêt à être valider</p>
            <div class="picture-container" *ngIf="!this.disabledValidationcontainer">
                <canvas id="cv" *ngIf="!this.pictureLoading"></canvas>
                <button mat-button (click)="previousCopy()"class="back-button2"><mat-icon>arrow_back_ios</mat-icon></button>
                <button mat-button (click)="nextCopy()"class="back-button3"><mat-icon>arrow_forward_ios</mat-icon></button>
                <mat-spinner *ngIf="this.pictureLoading"></mat-spinner>
            </div>
            <div class="validation-check-container" *ngIf="!this.disabledValidationcontainer">
                <div class="check-list-container">
                    <div class="sub-check-container">
                        <h3>Matricule</h3>
                        <div class="value-input-div">
                            <ng-select id="matricule" [items]="this.matriculeList" bindLabel="identifiant"
                                [multiple]="false" [searchable]="true" [clearable]="false" [closeOnSelect]="true"
                                [virtualScroll]="false" appendTo="app-task-verification"
                                [(ngModel)]="this.currentMatriculeSelection"
                                (change)="this.changeMatricule(this.currentMatriculeSelection)"
                                [disabled]="this.validating">
                            </ng-select>
                        </div>
                        <div *ngIf="this.currentMatriculeWarning" class="alert">
                          Utilisé par plusieurs copies: {{this.currentMatriculeWarning}}.
                        </div>
                    </div>
                    <div class="sub-check-container"
                        *ngFor="let prediction of this.currentPredictions | keyvalue : sortNull; trackBy: trackByIndex;">
                        <h3>{{prediction.key}}</h3>
                        <div class="value-input-div">
                            <input (click)="this.selectText($event)" type="number" [attr.id]="this.setQuestionId(prediction.key)"
                                id="text-box" [(ngModel)]="prediction.value"
                                (input)="this.updateTotal(prediction.key, prediction.value)" step=any
                                [disabled]="this.validating">
                        </div>
                    </div>
                    <div class="sub-check-container">
                        <h3>Total</h3>
                        <div class="value-input-div">
                            <input type="number" id="total" [(ngModel)]="this.currentTotal" step=any
                                [disabled]="this.validating">
                        </div>
                        <div *ngIf="this.currentTotal!==this.getTotal()" class="alert">
                          La somme et le total sont différents.
                        </div>
                    </div>
                </div>
                <div class="validate-container">
                    <!--
                       <button class="validate-button"
                                (click)="validateCurrentCopy()" [disabled]="this.validating">
                            <mat-icon>done_outline</mat-icon>
                        </button>
                    -->
                    <button [ngClass]="this.colorChosen == 'red' ? 'validate-button red' : 'validate-button ' + (this.colorChosen == 'blue' ? 'validate-button blue' : 'validate-button ' + (this.colorChosen == 'green' ? 'validate-button green' : 'validate-button'))"
                            (click)="validateCurrentCopy()" [disabled]="this.validating">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-button *ngIf="this.loggued()" (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
<div id="overlay" *ngIf="this.validating"></div>
<mat-spinner class="overlay-spinner" *ngIf="this.validating" color="accent" [diameter]="150"></mat-spinner>
